.post-container{class: cycle('even', 'odd')}
  .padding-10
    .post-info-box
      .post-icon= icon_tag message.sender.avatar
      .post-info-text
        .post-character
          %b From:
          = link_to(message.sender.username, user_path(message.sender))
        .post-screenname
          %b To:
          = link_to(message.recipient.username, user_path(message.recipient))
    = sanitize_written_content(message.message).html_safe
  .post-footer
    .right-align> 
      .padding-5>
        - if message.created_at
          Sent #{pretty_time(message.created_at)}
