- content_for :breadcrumbs do
  - if @template.user_id == current_user.try(:id)
    = link_to "Characters", characters_path
  - else
    = link_to "#{@template.user.username}", user_path(@template.user)
    &raquo;
    = link_to "#{@template.user.username}'s Characters", user_characters_path(@template.user)
  &raquo;
  %b= @template.name

%table
  %tr
    %th{colspan: 6}
      Template: #{@template.name}
      - if @template.user_id == current_user.try(:id)
        = link_to new_character_path(template_id: @template.id) do
          .link-box.green + New Instance
        = link_to edit_template_path(@template) do
          .link-box.blue
            = image_tag '/images/pencil.png'
            Edit Template
        = link_to template_path(@template), :method => :delete, confirm: 'Are you sure you want to delete this template?' do
          .link-box.red x Delete Template
      = link_to url_for(view: 'icons') do
        .view-button{class: (:selected unless page_view == 'list')}
          = image_tag '/images/grid.png', class:'icon-view', alt: ''
          Icons
      = link_to url_for(view: 'list') do
        .view-button{class: (:selected if page_view == 'list')}
          = image_tag '/images/list.png', class:'list-view', alt: ''
          List
  - if page_view == 'list'
    = render partial: 'characters/list_view'
  - else
    = render partial: 'characters/icon_view', locals: {characters: @template.characters.order('name asc').includes(:default_icon)}
- if @posts.present?
  %br
  - content_for :posts_title do 'Posts with Template Instances' end
  = render partial: 'posts/list', locals: {posts: @posts, path: :template_path}
