= form_for current_user, :url => user_path(current_user), :method => :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2} Account Settings
    %tr
      %th.sub Username
      %td{class: cycle('even', 'odd')}= f.text_field :username, placeholder: "Username", class: 'text', disabled: current_user.salt_uuid.nil?
    %tr
      %th.sub Email
      %td{class: cycle('even', 'odd')}= f.text_field :email, placeholder: "Email address", class: 'text'
    %tr
      %th.sub Notifications
      %td{class: cycle('even', 'odd')}
        = f.check_box :email_notifications, class: 'width-15 vmid'
        = f.label :email_notifications, "Email about new tags"
    %tr
      %th.sub Paging
      %td{class: cycle('even', 'odd')}= f.select(:per_page, per_page_options(current_user.per_page))
    %tr
      %th.sub Time zone
      %td{class: cycle('even', 'odd')}= f.select(:timezone, timezone_options(current_user.timezone))
    %tr
      %th.sub Split icon picker
      %td{class: cycle('even', 'odd')}
        = f.check_box :icon_picker_grouping, class: 'width-15 vmid'
        = f.label :icon_picker_grouping, "Group the icon picker by gallery"
    %tr
      %th.sub Default view
      %td{class: cycle('even', 'odd')}= f.select(:default_view, options_for_select({Icon: 'icon', List: 'list'}, current_user.default_view))
    %tr
      %th.sub Default editor
      %td{class: cycle('even', 'odd')}= f.select(:default_editor, options_for_select({'Rich Text' => 'rtf', HTML: 'html'}, current_user.default_editor))
    %tr
      %th.sub Moiety hex
      %td{class: cycle('even', 'odd')}
        \#
        = f.text_field :moiety, placeholder: "Hex code", class: 'text', style: 'width: 80px;', maxlength: 6
    %tr
      %th.sub Moiety name
      %td{class: cycle('even', 'odd')}= f.text_field :moiety_name, placeholder: "Moiety", class: 'text'
    %tr
      %th.sub Layout
      %td{class: cycle('even', 'odd')}= f.select :layout, layout_options(current_user.layout)
    %tr
      %th.sub Time display
      %td{class: cycle('even', 'odd')}= f.select :time_display, time_display_options(current_user.time_display)
    %tr
      %th.sub Unread Default
      %td{class: cycle('even', 'odd')}
        = f.check_box :unread_opened, class: 'width-15 vmid'
        = f.label :unread_opened, "Opened threads only"
    %tr
      %th.sub Warnings
      %td{class: cycle('even', 'odd')}
        = f.check_box :hide_warnings, class: 'width-15 vmid'
        = f.label :hide_warnings, "Hide content warnings"
    %tr
      %th.sub Tags Owed
      %td{class: cycle('even', 'odd')}
        = f.check_box :hide_hiatused_tags_owed, class: 'width-15 vmid'
        = f.label :hide_hiatused_tags_owed, "Hide hiatused threads"
    %tr
      %th.centered.subber{colspan: 2}= submit_tag "Save", class: 'button'

%br
= form_for current_user, :url => password_user_path(current_user), :method => :put do |f|
  %table.form-table#change-password
    %tr
      %th.centered{colspan: 2} Change Password
    %tr
      %th.sub Old
      %td{class: cycle('even', 'odd')}= password_field_tag :old_password, params[:old_password], :placeholder => "Old Password", :class => 'text'
    %tr
      %th.sub New
      %td{class: cycle('even', 'odd')}= f.password_field :password, :placeholder => "New Password", :class => 'text', :value => (params[:user]||{})[:password]
    %tr
      %th.sub Confirm
      %td{class: cycle('even', 'odd')}= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => 'text', :value => (params[:user]||{})[:password_confirmation]
    %tr
      %th.centered.subber{colspan: 2}= submit_tag "Save", class: 'button'
