%tr
  %th.sub Name
  %td{class: cycle('even', 'odd')}= f.text_field :name, placeholder: "Character Name", class: 'text'
%tr
  %th.sub Nickname
  %td{class: cycle('even', 'odd')}= f.text_field :template_name, placeholder: "Template Nickname", class: 'text'
%tr
  %th.sub Screenname
  %td{class: cycle('even', 'odd')}= f.text_field :screenname, placeholder: "Screen Name", class: 'text'
%tr
  %th.sub Setting
  %td{class: cycle('even', 'odd')}= f.text_field :setting, placeholder: "Setting", class: 'text'
  /%td{class: cycle('even', 'odd')}= f.collection_select(:setting_ids,
  /  Setting.all, :id, :name, {selected: @character.settings.pluck(:id)}, {multiple: true})
%tr
  - klass = cycle('even', 'odd')
  %th.sub Template
  %td{class: klass}= f.collection_select :template_id, @templates, :id, :name, {include_blank: '— Choose Template —'}, {class: 'text'}
%tr#create_template{class: ('hidden' unless params[:character].try(:[], :template_id) == "0")}
  %th.sub &#8627; Name
  %td{class: klass}= f.text_field :new_template_name, placeholder: "Template Name", class: 'text'
- if current_user.galleries.present?
  %tr
    %th.sub Galleries
    %td{class: cycle('even', 'odd')}
      = f.collection_select(:gallery_ids,
      current_user.galleries.order('name asc'),
      :id, :name, {selected: @character.galleries.pluck(:id)}, {multiple: true})
%tr
  %th.sub Facecast
  %td{class: cycle('even', 'odd')}= f.text_field :pb, placeholder: "Facecast", class: 'text'
%tr
  %th.centered.subber{colspan: 2}= submit_tag "Save", class: 'button'

#selected-gallery
  %b Images
  %br
  Pick Default Icon (Optional):
  %br
  .gallery
    - galleries = @character.galleries.present? ? @character.galleries.ordered : [Struct.new(:id, :name, :icons).new(0, 'Galleryless', current_user.galleryless_icons || [])]
    - if galleries.present?
      - galleries.each do |gallery|
        %div{id: "gallery#{gallery.id}", :'data-id' => gallery.id }
          %br
          %b.gallery-name= gallery.name
          %br
          .gallery-icons
            - gallery.icons.order('LOWER(keyword)').each do |icon|
              - klass = 'icon character-icon'
              - klass += ' selected-icon' if icon == @character.default_icon
              = icon_tag icon, class: klass, id: icon.id
