%tr
  - klass = cycle('even', 'odd')
  - replies_count = post.replies.count
  %td.post-completed{class: [klass, (post.completed? ? 'post-complete' : 'post-incomplete')]}
    - if post.completed?
      = image_tag "/images/book.png", class: 'vmid', title: "Thread Complete"
    - if post.on_hiatus?
      = image_tag "/images/hourglass.png", class: 'vmid', title: "Thread On Hiatus"
    - if post.abandoned?
      = image_tag "/images/book_grey.png", class: 'vmid', title: "Thread Abandoned"
    - if !current_user.try(:hide_warnings) && post.content_warnings.exists?
      = image_tag "/images/exclamation.png", class: 'vmid', title: "Content Warning: " + post.content_warnings.pluck(:name).join(', '), alt: '!'
  %td.post-subject{class: klass}
    - if logged_in? && (@show_unread || (!@unread_ids.nil? && @unread_ids.include?(post.id)))
      = link_to post_path(post, page: 'unread', anchor: 'unread') do
        = image_tag unread_img, class: 'vmid', title: 'First Unread'
    - if logged_in? && @opened_ids.present? && !@opened_ids.include?(post.id)
      %b= link_to post.subject, post_path(post), title: strip_tags(post.description)
    - else
      = link_to post.subject, post_path(post), title: strip_tags(post.description)
    - if !@hide_quicklinks && (!logged_in? || per_page > 0)
      - total_pages = (replies_count.to_f / per_page).ceil
      - if total_pages > 1
        = surround '[', ']' do
          - if total_pages <= 6
            - params = {}
            - total_pages.times do |index|
              - params[:page] = index + 1 unless index == 0
              = link_to (index + 1), post_path(post, params)
          - else
            = link_to 1, post_path(post)
            = link_to 2, post_path(post, page: 2)
            = link_to 3, post_path(post, page: 3)
            \...
            - (total_pages-2).upto(total_pages) do |index|
              = link_to (index), post_path(post, page: index)
  - unless local_assigns[:hide_continuity]
    %td.post-board{class: klass}= link_to post.board_name, board_path(post.board_id)
  %td.post-authors{class: klass}= post.authors.sort_by { |author| author.username.downcase }.map { |author| link_to author.username, user_path(author) }.join(', ').html_safe
  %td.width-70.post-replies{class: klass}= replies_count
  - if logged_in? && local_assigns[:show_unread_count]
    %td.width-70{class: klass}
      - if @opened_ids.include?(post.id) && @unread_ids.include?(post.id)
        = Reply.where(post_id: post.id).where('created_at > ?', post.last_read(current_user)).count
      - else
        \-
  %td.post-time{class: klass}
    = pretty_time(post.tagged_at)
    by
    = link_to post.last_user_name, user_path(post.last_user_id)
  - if local_assigns[:check_box_name]
    %td.padding-right-10{class: klass}= check_box_tag check_box_name, post.id, false, class: 'checkbox'
