!!!
%html
  %head
    %title #{@post.subject} | Glowfic Constellation
    %meta{ :charset => "utf-8" }
    <meta name="viewport" content="width=device-width">
    = stylesheet_link_tag 'application'
    - if current_user.try(:layout).present?
      = stylesheet_link_tag "layouts/#{current_user.layout}"
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.glowfic.com/images/favicon-32x32.png?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.glowfic.com/images/favicon-16x16.png?v=3">
  %body
    #content
      = link_to post_path(@post) do
        &laquo; Back
      %br
      .details.float-right
        Generated: #{pretty_time(@post.flat_post.updated_at)}
      .details
        Post last updated: #{pretty_time(@post.tagged_at)}
      .post-header
        .padding-15
          %span#post-title= @post.subject
      - if @post.description.present?
        .post-subheader
          .padding-10
            %span= sanitize_post_description(@post.description).html_safe
      .post-container{class: 'odd'}
        .padding-10
          .post-info-box
            - if @post.icon
              .post-icon= icon_tag @post.icon
            .post-info-text
              - if @post.character
                .post-character= @post.character.name
                - if @post.character.screenname
                  .post-screenname= @post.character.screenname
              - else
                .dark.spacer
              .post-author= @post.user.username
          .post-edit-box
            = link_to post_path(@post), rel: 'alternate' do
              = image_tag "/images/link.png", title: 'Permalink', alt: 'Permalink'
            = link_to post_path(@post, unread: true), method: :put do
              = image_tag '/images/eye.png', title: 'Mark Unread Here', alt: 'Eye'
          .post-content= sanitize_written_content(@post.content).html_safe
        .post-footer
          .right-align>
            .padding-5> Posted #{pretty_time(@post.created_at, ApplicationHelper::TIME_FORMAT)}
      = @post.flat_post.content.try(:html_safe)
