- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @post.board.name, board_path(@post.board)
  - if @post.section
    &raquo;
    = link_to @post.section.name, board_section_path(@post.section)
  &raquo;
  = link_to @post.subject, post_path(@post)
  &raquo;
  %b Stats

%table#stats
  %thead
    %tr
      %th{colspan: 2}
        Stats:
        = link_to @post.subject, post_path(@post)
  %tbody
    %tr
      %td.sub.width-150 Authors
      %td.even= @post.authors.sort_by { |author| author.username.downcase }.map { |author| link_to author.username, user_path(author) }.join(', ').html_safe
    - if @post.settings.present?
      %tr
        %td.sub.width-150 Setting
        %td{class: cycle('odd', 'even')}= @post.settings.map { |tag| link_to tag.name, tag_path(tag) }.join(', ').html_safe
    %tr
      %td.sub.width-150.vtop Characters
      %td{class: cycle('odd', 'even')}
        - if @post.characters.count > 2
          %ul
            - @post.characters.each do |character|
              %li= link_to character.name, character_path(character)
        - else
          = @post.characters.map { |character| link_to character.name, character_path(character) }.join(', ').html_safe
    - if @post.content_warnings.present?
      %tr
        %td.sub.width-150 Content Warnings
        %td{class: cycle('odd', 'even')}= @post.content_warnings.map { |tag| link_to tag.name, tag_path(tag) }.join(', ').html_safe
    - if (tags = @post.tags.where(type: nil)).present?
      %tr
        %td.sub.width-150 Tags
        %td{class: cycle('odd', 'even')}= tags.map { |tag| link_to tag.name, tag_path(tag) }.join(', ').html_safe
    %tr
      %td.sub.width-150 Word Count
      %td{class: cycle('odd', 'even')}= @post.total_word_count
    %tr
      %td.sub.width-150 Audience
      %td{class: cycle('odd', 'even')}
        - case @post.privacy
        - when Post::PRIVACY_PUBLIC
          = image_tag "/images/world.png", class: 'vmid', title: "Public"
          Public
        - when Post::PRIVACY_REGISTERED
          = image_tag "/images/star.png", class: 'vmid', title: "Constellation Users"
          Constellation Users
        - when Post::PRIVACY_LIST
          = image_tag "/images/group.png", class: 'vmid', title: "Access list"
          Access List -
          - @post.post_viewers.each_with_index do |viewer, i|
            - if i < @post.post_viewers.count - 1
              = succeed ',' do
                = link_to viewer.user.username, user_path(viewer.user)
            - else
              = link_to viewer.user.username, user_path(viewer.user)
        - else
          = image_tag "/images/lock.png", class: 'vmid', title: "Private"
          Private
    %tr
      %td.sub.width-150 Time Begun
      %td{class: cycle('odd', 'even')}= pretty_time(@post.created_at)
    %tr
      %td.sub.width-150 Time Last Updated
      %td{class: cycle('odd', 'even')}= pretty_time(@post.tagged_at)
    %tr
      %td.sub.width-150 Status
      %td{class: cycle('odd', 'even')}
        - case @post.status
        - when Post::STATUS_ACTIVE
          = image_tag "/images/book_open.png", class: 'vmid', title: "In Progress"
          In Progress
        - when Post::STATUS_COMPLETE
          = image_tag "/images/book.png", class: 'vmid', title: "In Progress"
          Complete
        - when Post::STATUS_HIATUS
          = image_tag "/images/hourglass.png", class: 'vmid', title: "In Progress"
          On Hiatus
        - when Post::STATUS_ABANDONED
          = image_tag "/images/book_grey.png", class: 'vmid', title: "In Progress"
          Abandoned
