= form_tag icon_gallery_path(@gallery), method: :post, id: 'add-gallery-icons' do
  = hidden_field_tag :image_ids
  .post-header
    .padding-15
      %span.vmid Add Existing Icons to Gallery: #{@gallery.try(:name) || 'Galleryless'}
      - if @gallery
        = link_to add_gallery_path(@gallery) do
          .view-button
            = image_tag '/images/list.png', class: 'list-view', alt: ''
            Add New Icons &raquo;
  %table
    %tr
      %th.subber.centered Click icons to select, then press Add Icons to Gallery at the bottom.
    %tr
      %th.sub Galleryless Icons
    %tr
      %td.even.padding-5
        - @unassigned.each do |icon|
          = icon_tag icon, class: 'add-gallery-icon', :'data-id' => icon.id
    %tr
      %td.subber.centered.padding-5
        = submit_tag "Add Icons to Gallery", class: 'button'
    %tr
      %th.sub Icons in Other Galleries
    - current_user.galleries.order('LOWER(name)').each do |gallery|
      - next if gallery.id == @gallery.try(:id)
      %tr
        %td.padding-5{class: cycle('even', 'odd')}
          %b= gallery.name
          %br
          - gallery.icons.order('LOWER(keyword)').each do |icon|
            = icon_tag icon, class: 'add-gallery-icon', :'data-id' => icon.id
    %tr
      %td.subber.centered.padding-5
        = submit_tag "Add Icons to Gallery", class: 'button'
