.gallery-box { cursor: pointer; width: 20px; text-align: center; } /* The + / - symbol to minimize a gallery */
.gallery-title { height: 5px; } /* So that when a gallery is minimized there is spacing */
img.selected-icon { border: 10px #3F7055 solid; width: 80px; height: 80px; }
table.form-table .icon { vertical-align: middle; }

/* Basic gallery and gallery icon formatting */
.gallery { padding: 10px; }
.gallery img { margin: 5px; }
.gallery-icon {
    min-height: 130px;
    display: inline-block;
    text-align: center;
    line-height: 14px;
    margin-bottom: 10px; 
    position: relative;
    width: 130px;
    word-wrap: break-word;
    vertical-align: top;
}
.gallery-no-icon {
    width: 100px;
    height: 100px;
    border: 1px #666666 solid;
    margin: 5px;
    display: inline-block;
}

.gallery-icon .character-screenname { font-size: 85%; }

/* Tiny buttons that hover over icons to allow deleting or selecting a checkbox for editing */
.delete-button, .select-button { position: absolute; top: 0px; right: 8px; cursor: pointer; }
.delete-button { width: 10px; background-color: #e5dfd1; border: 1px #C00 solid; color: #C00; padding: 3px; }
.delete-button a, .delete-button a:visited, .delete-button a:hover { color: #CC0000; }
.select-button { width: 20px; height: 20px; border: 0px; padding: 0px; background-color: transparent; }
.select-button input { height: 20px; width: 20px; margin: 0px; }

/* The table in galleries/add to add multiple icons at once */
#content table#icon-table { margin: 0px; text-align: center; }
#content table#icon-table td.icon-buttons { width: 40px; padding: 0px 5px 0px 0px; }
#content table#icon-table td.icon-buttons img { display: inline-block; }
