body, html { height: 100%; }
body {
    margin: 0 0 0 0;
    font-family: Helvetica, Verdana, sans-serif;
    color: #101010;
    background-color: #e5dfd1;
}

/* Links */
a { text-decoration: none; color: #3F7055; }
a:visited { color: #28503a; }
a:hover { color: #fcfefd; }

/* Inputs */
input, textarea, button {
  font-size: 13px;
  height: 23px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #444444;
  padding: 0px 8px;
  border: 1px solid #AAAAAA;
  margin: 5px 0px;
}
textarea { padding: 5px; }
button, input.button {
  background-color: #FFFFFF;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  height: 25px;
}

/* Display Helpers */
.no-margin { margin: 0px; }
.noheight { font-size: 0px; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }
.padding-5 { padding: 5px 10px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-left-5 { padding-left: 5px; }
.padding-right-10 { padding-right: 10px; }
.width-15 { width: 15px !important; }
.width-70 { width: 70px; }
.width-150 { width: 150px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }
.spacer { height: 2px; }
.centered { text-align: center !important; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.hidden { display: none; }
.float-right { float: right; }
.float-none { float: none !important; }
.clear { clear: both; }
.pointer { cursor: pointer; }
.vtop { vertical-align: top; }
.vmid { vertical-align: middle; }
.bold { font-weight: bold; }
.auto { overflow: auto; }

/* Displaying forum threads */
#content .bg { background-color: #e5dfd1; }
#content .beige { background-color: #B9B6AD; }
.green { background-color: #B0BBA9; }
#content .dark { background-color: #8B8687; }
#content .even, .post-post, .post-reply:nth-child(even), #post-editor { background-color: #E3E3E3; padding: 5px; }
#content .odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor { background-color: #D8D8D8; padding: 5px; }
#content .subber, .subber { background-color: #a3a1a0; }
#content .sub { background-color: #B9B6AD; }

/* UI Links */
.link-box {
  display: inline-block;
  font-size: 18px;
  margin: 0px;
  margin-left: 5px;
  background-image: none;
  border: 0px;
  color: white;
  padding: 4px 12px;
  border-radius: 5px;
  font-weight: normal;
}
.link-box.green { background-color: #3f7055; }
.link-box.red { background-color: #880000; }
.link-box.blue { background-color: #4455AA;}
.link-box.orange { background-color: #EA8A40;}
#post-form-wrapper { margin-top: 5px; }
